.light-gray-background {
  --background: var(--ion-color-light-gray, #f0f0f0);
}

.bold-text {
  font-weight: bold;
}

ion-button {
  --border-radius: 8px;
}

ion-footer ion-button {
  --border-radius: 8px;
}
